html{
  font-family:"Karla", sans-serif;
  font-size:16px;
}
body{
  background-color:#e6ffff;
}
#top-container{
  background-color:white;
  border:1px solid white;
  padding:20px 30px;
  
}
#bottom-container{
  display: flex;
}
#main-card{
  max-width:600px;
  margin: 80px auto;
  border-radius:10px;
  overflow: hidden
}

#left-container{
  background-color:#009999;
}
#right-container{
  background-color:#33cccc;
}
#right-container > ul{
    list-style:none;
}
.box{
  flex:1;
  min-height: 250px;
  box-sizing: border-box;
  padding:30px;
  font-size:12px;
  color:white;
}
button {
  background-color:#aaff00;
  width:100%;
  color:white;
  padding:12px;
  cursor: pointer;
  border: none;            
  border-radius: 7px;
  margin-top: 10px;
  
}
button:hover{
  background-color:#426600;
}
h2 {
  color:blue;
}


#abc{
  color:green;
}

.price-big {
  font-size: 36px;      
  font-weight: 700;     
  margin-right: 5px;     
}
